# infrastructure/prometheus/prometheus.yml
global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:

  - job_name: ingestion
    static_configs:
      - targets: ["localhost:8000"]
    metrics_path: /metrics

  - job_name: worker
    static_configs:
      - targets: ["localhost:8001"]
    metrics_path: /metrics

  - job_name: query_service
    static_configs:
      - targets: ["localhost:8002"]
    metrics_path: /metrics